extends layout

block content

  .hwBlock
    h1 Initial Information
    .personalData
      .row
        label(for="firstName") First Name:
        input#firstName.names(type="text", name="firstName", placeholder="First Name")

      .row
        label(for="middleInitial") Middle Initial:
        input#middleInitial.names(type="text", name="middleInitial", placeholder="MI", maxlength="1")
      .row
        label(for="lastName") Last Name:
        input#lastName.names(type="text", name="lastName", placeholder="Last Name")
      .row
        label(for="rank") Rank:
        select#rank(name="rank")
          optgroup(label="Junior Enlisted")
            option(value='PV1') Private (E1)
            option(value='PV2') Private (E2)
            option(value='PFC') Private First Class (E3)
            option(value='SPC') Specialist (E4)
          optgroup(label="Non-Commissioned Officers")
            option(value='CPL') Corporal (E4)
            option(value='SGT') Sergeant (E5)
            option(value='SSG') Staff Sergeant (E6)
            option(value='SFC') Sergeant First Class (E7)
            option(value='MSG') Masger Sergeant (E8)
            option(value='1SG') First Sergeant (E8)
            option(value='SGM') Sergeant Major (E9)
            option(value='CSM') Command Sergeant Major (E9)
            option(value='SMA') Sergeant Major of the Army (E9)
          optgroup(label="Warrant Officers")
            option(value='WO1') Warrant Officer 1 (WO1)
            option(value='CW2') Chief Warrant Officer 2 (WO2)
            option(value='CW3') Chief Warrant Officer 3 (WO3)
            option(value='CW4') Chief Warrant Officer 4 (WO4)
            option(value='CW5') Chief Warrant Officer 5 (WO5)
          optgroup(label="Commissioned Officers")
            option(value='2LT') Second Lieutenant (O1)
            option(value='1LT') First Lieutenant (O2)
            option(value='CPT') Captain (O3)
            option(value='MAJ') Major (O4)
            option(value='LTC') Lieutenant Colonel (O5)
            option(value='COL') Colonel (O6)
            option(value='BG') Brigade General (O7)
            option(value='MG') Major General (O8)
            option(value='LTG') Lieutenant General (O9)
            option(value='GEN') General (O10)

    .hwMeasure
      .row
        label(for="age") Age:
        input#age.measures(type="number", name="age", placeholder="Years")
      .row
        label(for="gender") Gender:
        select#gender(name="gender")
          option Male
          option Female
      .row
        label(for="height") Height in Inches:
        input#height.measures(type="number", name="height", placeholder="Inches")
      .row
        label(for="weight") Weight in Lbs:
        input#weight.measures(type="number", name="weight", placeholder="Lbs")
    div
      .row
        label(for=submit)
        button#submit.bgGreen(type="button") Check
      #passfail

  .bfBlock(style='display:none')
    h1 Tape Data (Bodyfat)
    #neckBlock
      .row
        label Neck in Inches:
        input.neck(placeholder="1st", data-measure="1")
        input.neck(placeholder="2nd", data-measure="2")
        input.neck(placeholder="3rd", data-measure="3")

    #waistBlock
      .row
        label Waist in Inches:
        input.waist(placeholder="1st", data-measure="1")
        input.waist(placeholder="2nd", data-measure="2")
        input.waist(placeholder="3rd", data-measure="3")


    #hipsBlock(style='display:none')
      .row
        label Hips in Inches:
        input.hips(placeholder="1st", data-measure="1")
        input.hips(placeholder="2nd", data-measure="2")
        input.hips(placeholder="3rd", data-measure="3")
      br

    #buttonBlock
      .row
        label(for=tape)
        button#tape.bgGreen(type="button") Tape!
      br
    #taperesult Tape Results

