doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')



  body
    .default-page
      header
        .header
          h1#main-title.container.clearfix Height and Weight Calculator
          h3.container IAW AR 600-9 The Army Body Composition Program
            code (as of Jun 2013)

      .main.container
        block content

      footer.footer

      script(src="/javascripts/jquery.js")
      script(src="/javascripts/hw.js")